<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /blog/js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /blog/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
  </body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?dd2509b43f23d51c3a12e0fc8183217e";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>
